/*
cambiar fondo de pagina y efectos de botones
*/


* {
    padding: 0;
    margin: 0;
}

header {
    background-color: black;
    width: 100%;
    height: 10vh;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}



header h1 {
    padding-top: 15px;
    text-shadow: 1px 2px 1px #abbefacc,
    1px 2px 1px #abbefacc,
    1px 2px 1px #abbefacc,
    1px 2px 1px #abbefacc;
}

header h1:hover {
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(51,92,222);
    background: linear-gradient(90deg, rgba(51,92,222,1) 0%, rgba(35,35,49,1) 0%, rgb(0, 3, 44) 0%, rgba(2,0,36,1) 93%);
}

#projectsContainer {
    width: 90%;
    height: 90vh;
    background-color: rgb(15, 15, 19);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#projectsContainer div {
    width: 200px;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    border-radius: 10%;
    transition: 0.4s;
    box-shadow: 15px 15px rgb(7, 6, 14),
    5px 5px rgb(22, 19, 46),
    5px 5px rgb(22, 19, 46);
}

#projectsContainer div:hover {
    width: 290px;
    height: 290px;
    transition: 0.4s;
    box-shadow: 5px 5px rgb(6, 1, 34),
    5px 5px rgb(22, 19, 46),
    5px 5px rgb(22, 19, 46),
    5px 5px rgb(22, 19, 46);
}

.btn-projects {
    height: 26px;
    width: 100px;
    background-color: rgb(19, 19, 160);
    border-radius: 5px;
    text-align: center;
    border-color: blue;
    border: 2px solid blue;
    color: rgb(232, 244, 255);
}

a {
    text-decoration: none;
    color: rgb(232, 244, 255);
}

.cards:hover > .btn-projects{
    transition: 0.4s;
    background-color: rgb(19, 19, 160);
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 30px;
}


.cards img {
    border-radius: 10px;
    transition: 0.5s;
}

.cards > img:hover {
    transition: 0.5s;
    border-radius: 20px;
    
}